@import "../../styles/globalStyles.scss";

.container {    
    & .paymentOptions {
        list-style: none;
        box-shadow: 12px 12px 41px #c5c6c7, 
                    -12px -12px 41px #dfe3e6;
        // background-color: #dfe3e6;
        width: fit-content;
        padding: 30px 50px;
        margin: 55px auto;
        border-radius: 15px;
    }

    & .paymentRadioSelect {
        // width: 180px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        // text-align: left;
        // padding: 5px;
        // display: block;
    }

    & .paymentBtn {
        @extend .button;
        width: 120px;
        margin-left: auto;
        margin-right: auto;
    }
}

.checkboxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    /* Hide the browser's default checkbox */
    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    /* Create a custom checkbox */
    & .checkmark {
        position: absolute;
        top: 4px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: rgb(233, 233, 233);
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ .checkmark {
        background-color: rgb(186, 185, 185);
    }

    /* When the checkbox is checked, add a blue background */
    & input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    & .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    & input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    & .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
